
@model  Projekt.Models.KontaktFormaModel
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Kontaktirajte Nas</title>
    @Styles.Render("~/Content/css")
</head>
<body>

    <div class="container">
        <h2>Kontaktirajte Nas</h2>
        
        </br>
        </br>
        @using (Html.BeginForm("SendMessage", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            <div class="form-group">
                @Html.LabelFor(m => m.Ime, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Ime, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Ime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Naslov, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Naslov, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Naslov, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Poruka, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Poruka, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Poruka, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Pošalji" class="btn btn-default" />
                </div>
            </div>
        }
    </div>

</body>
</html>




@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title:</h2>




<address>
    <b><h4>Broj telefona(10:00 - 17:30) </b> +385 08 289 5328</h4>
    <b><h4> Adresa:</b> Tamo Tamo Daleko, 45</h4>
    <b><h4>E-pošta:</b> info@svaborestoran.com</h4><br />

</address>


