@model Projekt.Models.Narudzba

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Narudzba</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime_hrana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime_hrana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ime_pice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime_pice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_narudzba }) |
    @Html.ActionLink("Natrag listu", "Index")
</p>
